{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <div class="login-container">
    <form method="post" class="form-loginpage">
      <fieldset class="fieldset-loginpage">
        {% if error %}
         <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="connexion-loginpage-toppart">
      <div>
        <label for="inputEmail">Email :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
      </div>

      <div>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
      </div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="connexion-loginpage-subpart">
      <div class="connexion-subpart">
        <button type="submit" id='connexion' name="connexion">Connexion</button>
      </div>

      <div class="rememberme-plus-password">
        <div class="rememberme">
          <input type="checkbox" id="rememberme" name="rememberme" value="Se souvenir de moi">
          <label for="rememberme"> Se souvenir de moi</label><br>
        </div>
        <a href="#" id="forgottenpassword">Mot de passe oublié ?</a>
      </div>
    </div>

      </fieldset>
    </form>
  </div>
{% endblock %}
