{% extends 'base.html.twig' %}

{% block title %}
 {{ sortie.nomDeLaSortie}} | {{ parent() }}

{%  endblock %}

{%  block body %}
  <h2>{{sortie.nomDeLaSortie }}</h2>
  <div>{{ sortie.dateSortie | date('d-m-Y')}}</div>
  <div>{{ sortie.descriptionInfo }}</div>
  <div>{{ sortie.campus }}</div>
  <div>{{ sortie.ville }}</div>
  <div>{{ sortie.rue }}</div>
  <div>{{ sortie.codePostal }}</div>

{%  endblock %}