<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />

    <title>{% block title %}Sortir.com {% endblock %}</title>

</head>

<body>
    <header>
            <div class="navbar">
                <div class="nav-logo">
                    <a href="{{ path('sortie_home') }}" title="Accueil"><img src="{{ asset('img/sortir-logo.png') }}" alt="Sortir Logo" /></a>
                </div>

                <div class="nav-menu">
                    <ul>
                        {% if app.user %}
                         <li><a href="{{ path('sortie_home') }}" title="Accueil">Accueil</a></li>
                        <li><a href="{{ path('main_admin') }}" title="Espace administrateur">Espace administrateur</a></li>
                         <li><a href="{{ path('sortie_home') }}" title="Liste de toutes les sorties">Toutes les sorties</a></li>
                         <li><a href="{{ path('sortie_create', {'id': 'x'}) }}" title="Créer une nouvelle souris">Créer une sortie</a></li>
                         <li><a href="{{ path('main_profil') }}" title="Profil">Mon profil</a></li>
                         <li><a href="{{ path('app_logout') }}" title="Deconnection">Se déconnecter ({{ app.user.pseudo }})</a></li>
                        {% else %}
                          <li><a href="{{ path('app_login') }}" title="Login">Se connecter</a></li>
                            {# todo gérer l'affichage des liens suivant role admin/user #}
                        {% endif %}
                    </ul>
                </div>
            </div>
    </header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {%block body %}{% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date ("Y") }} | Sortir.com</div>
    </footer>
</body>
</html>